.homepage {
    background-image: url('../styles/homepagewallpaper.jpg');     
    height: 90vh;
  }
  
h2 {
    color: white;
    text-align: center;
    font-weight: 1000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}   

p {
    color: white;
    
}