.loginform{
  margin : 24px;
}

.loginbtn{
  left: 346px;
  display: inline-block;
  position: relative;
  bottom: -9px;
}


.logintext{
  color: black;
  display: inline-block;
}

.email{
  margin: 0px 10px;;
}

.password{
  margin: 0px 70px;
}

.formfields{
  display: inline-block;
    position: relative;
    bottom: 10px;
}