  .book-search{
    text-align: center;
    margin: 2rem;
  }

  .search-input{
    height: 31px;
    width: 35%;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }

  .search-input:focus {
    border-color: salmon;
    outline: none;
    box-shadow: salmon;
  }

  .search-button{
    width: 8%;
    height: 36px;
    margin: auto 12px;
    border-radius: 4px;
  }

  
  .search-text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .book-card{
    display: block;
    width: 20%;
    border: 1px dotted black;
    padding: 1rem;
    margin-bottom: 1rem;
  }